body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #fff;
}

.nav-bar {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: right;
}

.nav-link {
  margin-left: 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.main-content {
  text-align: center;
  padding: 50px 20px;
}

.icon-holder {
  display: inline-block;
  margin-bottom: 20px;
}

.main-icon {
  width: 100px;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #666;
  margin-bottom: 30px;
}

.buttons .button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.register {
  background-color: #4caf50;
}

.sign-in {
  background-color: #008cba;
}

.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.footer h2 {
  font-size: 1.5em;
  color: #333;
}

.contact {
  display: inline-block;
  padding: 10px 20px;
  background-color: #008cba;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .main-content,
  .footer {
    padding: 20px;
  }

  .buttons .button,
  .contact {
    width: 100%;
    box-sizing: border-box;
  }
}
