body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #303afe;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form-title {
  font-size: 24px;
  color: #304ffe;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-btn {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  background-color: #304ffe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #1a237e;
}

.register-redirect {
  margin-top: 15px;
  color: #304ffe;
}

.register-redirect a {
  color: #1a237e;
  text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .form-box {
    margin: 10px;
    padding: 20px;
  }

  input[type="text"],
  input[type="password"],
  .submit-btn {
    margin: 10px 0;
  }
}